.configPage {
  & > h2 {
    display: flex;
    align-items: center;

    padding: .25rem .5rem;
  }

  & > div {
    width: calc(100% - 1rem);

    box-sizing: border-box;

    margin: .5rem;
    padding: .5rem;

    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    & > p {
      display: flex;
      align-items: center;

      font-size: 1.2rem;
    }

    & > * {
      width: 100%;
    }
  }
}

.deleteModal {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  min-width: 70%;

  & > * {
    padding: .2em 0;
  }

  & > h2 {
    display: flex;
    align-items: center;

    font-weight: 400;
  }

  & > p {
    text-align: center;
  }

  & > div {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
  }
}