.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;

  padding: 0rem 1rem 0.5rem 1rem;

  border-radius: var(--radius);
  border: solid 2px;

  &>input {
    width: 100%;
    font-size: 1rem;

    background-color: var(--primary-bg-color);

    &::placeholder {
      font-size: 1rem;
    }
  }

  &>.button {
    display: flex;
    justify-content: center;

    p {
      line-height: 0;

      span {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }
}

.group {
  margin: .4rem .2rem;
  padding: .5rem;

  background-color: var(--card);
  color: var(--card-foreground);

  border: solid 1px var(--border);
  border-radius: var(--radius);

  & > *:not(:first-child) {
    margin-top: .5rem;
  }

  & > p {
    display: flex;
    justify-content: space-between;

    padding: .25em .5em;
        
    font-size: 1.2em;
        
    user-select: none;
        
    background-color: var(--primary);
    border-radius: var(--radius);
  }

  & > div {    
    user-select: none;
      
    background-color: var(--accent);
      
    border-radius: var(--radius);
  }
}
